/* mobile 320 */

.navigation { 
  border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.navigation__link {
  width: max-content;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 24px;
}

.navigation__link:hover {
  opacity: 80%;
  transition: 0.4s;
}

.navigation__link:last-child {
  margin-bottom: 0;
}

.navigation__link_active {
  text-decoration: underline;
}
