/* mobile 320 */

.portfolio {
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0 14px;
  text-align: start;
}

.aboutMe__header-portfolio {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #A0A0A0;
}

.aboutMe__list-portfolio {
  padding: 0;
  list-style: none;
  margin: 40px 0 0;
}

.aboutMe__link-of-list {
  text-decoration: none;
  color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;

  display: block;
  border-bottom: 1px solid #E6E6E6;
  padding-bottom: 19px;
  padding-top: 20px;
}

.aboutMe__link-of-list:first-child {
  padding-top: 0;
}

.aboutMe__link-of-list:last-child {
  border: none;
  padding-bottom: 0;
}

.aboutMe__link-of-list:hover {
  opacity: 70%;
  transition: 0.4s;
}

.aboutMe__list-item {

  display: flex;
  justify-content: space-between;
}

.aboutMe__list-icon {
  width: 18px;
  height: 28px;
  background-image: url(../../../images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.aboutMe__list-item-p {
  margin: 0;
}