/* mobile 320 */

.promo {
  border: 1px solid red;
  margin: 0 14px;
  height: 586px;
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.promo__text {
  margin: 220px 0 0 0;
  font-weight: 400;
  font-size: 29px;
  line-height: 37px;
  letter-spacing: -1px;
}

/*tablet 768 */

@media screen and (min-width: 631px) {
  .promo {
    height: 834px;
    margin: 0 20px;
  }

  .promo__text {
    margin-top: 350px;
    max-width: 580px;
    font-size: 40px;
    line-height: 52px;
  }
}