/*mobile 320*/

.searchForm__container-for-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 46px;
}

.searchForm {
  box-sizing: border-box;
  margin: 0 10px;
  min-height: 272px;
}

.searchForm__container-for-input {
  margin-top: 80px;
  position: relative;
}

.searchForm__input {
  box-sizing: border-box;
  display: inline-block;
  padding: 25px 19px;
  border-radius: 9px;
  border: none;
  outline: none;
  background-color: #FDFDFD;
  width: 100%;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.searchForm__button-find {
  position: absolute;
  top: 19px;
  right: 19px;
  width: 80px;
  height: 34px;
  border-radius: 48px;
  border: none;
  background-color: black;
  background-image: url(../../../images/find.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  cursor: pointer;
}

.searchForm__button-find:hover {
  opacity: 80%;
  transition: 0.4s;
}

.searchForm__decorate-line {
  border-bottom: 1px solid #E8E8E8;
  margin: 45px 10px;
}

/*tablet 768 */

@media screen and (min-width: 631px) {
  .searchForm {
    margin: 0 30px;
  }

  .searchForm__button-find {
    right: 227px;
  }

  .searchForm__decorate-vertical-line {
    border-left: 1px solid #CBCBCB;
    height: 40px;
    position: absolute;
    top: 16px;
    right: calc(227px - 19px);
  }
}
